In [2]:
#load libraries 
import pandas as pd
import scipy.stats as stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Load datasets
Dfwnred = pd.read_csv('winequality-red.csv')

In [83]:
#Dfwnered[['fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"'] = Dfwinred["fixed acidity","volatile acidity","citric acid","residual sugar","chlorides","free sulfur dioxide","total sulfur dioxide","density","pH","sulphates","alcohol","quality"]] = Dfwnred[""fixed acidity";"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality""].apply(lambda x: pd.Series(str(x).split(";")))

In [5]:
df1 = pd.DataFrame(Dfwnred)
df1

     fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0      7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
1      7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
2     7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
3     11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
4      7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
...                                                 ...
1594  6.2;0.6;0.08;2;0.09;32;44;0.9949;3.45;0.58;10.5;5
1595  5.9;0.55;0.1;2.2;0.062;39;51;0.99512;3.52;0.76...
1596  6.3;0.51;0.13;2.3;0.076;29;40;0.99574;3.42;0.7...
1597  5.9;0.645;0.12;2;0.075;32;44;0.99547;3.57;0.71...
1598  6;0.31;0.47;3.6;0.067;18;42;0.99549;3.39;0.66;...

[1599 rows x 1 columns]

In [6]:
df1.columns

Index(['fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"'], dtype='object')

In [7]:
df1.rename(columns = {'fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"':'COLUMNS'}, inplace = True)
df1

                                                COLUMNS
0      7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
1      7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
2     7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
3     11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
4      7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
...                                                 ...
1594  6.2;0.6;0.08;2;0.09;32;44;0.9949;3.45;0.58;10.5;5
1595  5.9;0.55;0.1;2.2;0.062;39;51;0.99512;3.52;0.76...
1596  6.3;0.51;0.13;2.3;0.076;29;40;0.99574;3.42;0.7...
1597  5.9;0.645;0.12;2;0.075;32;44;0.99547;3.57;0.71...
1598  6;0.31;0.47;3.6;0.067;18;42;0.99549;3.39;0.66;...

[1599 rows x 1 columns]

In [8]:
df1[["fixed acidity","volatile acidity","citric acid","residual sugar","chlorides","free sulfur dioxide","total sulfur dioxide","density","pH","sulphates","alcohol","quality"]] = df1['COLUMNS'].str.split(';', expand=True)
df1

,COLUMNS,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
1,7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5,7.8,0.88,0,2.6,0.098,25,67,0.9968,3.2,0.68,9.8,5
2,7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...,7.8,0.76,0.04,2.3,0.092,15,54,0.997,3.26,0.65,9.8,5
3,11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...,11.2,0.28,0.56,1.9,0.075,17,60,0.998,3.16,0.58,9.8,6
4,7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2;0.6;0.08;2;0.09;32;44;0.9949;3.45;0.58;10.5;5,6.2,0.6,0.08,2,0.09,32,44,0.9949,3.45,0.58,10.5,5
1595,5.9;0.55;0.1;2.2;0.062;39;51;0.99512;3.52;0.76...,5.9,0.55,0.1,2.2,0.062,39,51,0.99512,3.52,0.76,11.2,6
1596,6.3;0.51;0.13;2.3;0.076;29;40;0.99574;3.42;0.7...,6.3,0.51,0.13,2.3,0.076,29,40,0.99574,3.42,0.75,11,6
1597,5.9;0.645;0.12;2;0.075;32;44;0.99547;3.57;0.71...,5.9,0.645,0.12,2,0.075,32,44,0.99547,3.57,0.71,10.2,5
1598,6;0.31;0.47;3.6;0.067;18;42;0.99549;3.39;0.66;...,6,0.31,0.47,3.6,0.067,18,42,0.99549,3.39,0.66,11,6

In [9]:
df1 = df1.drop(['COLUMNS'], axis=1)

In [10]:
df1['fixed acidity'] = df1['fixed acidity'].astype(float)
df1['volatile acidity'] = df1['volatile acidity'].astype(float)
df1['citric acid'] = df1['citric acid'].astype(float)
df1['residual sugar'] = df1['residual sugar'].astype(float)
df1['chlorides'] = df1['chlorides'].astype(float)
df1['free sulfur dioxide'] = df1['free sulfur dioxide'].astype(float)
df1['total sulfur dioxide'] = df1['total sulfur dioxide'].astype(float)
df1['density'] = df1['density'].astype(float)
df1['pH'] = df1['pH'].astype(float)
df1['sulphates'] = df1['sulphates'].astype(float)
df1['alcohol'] = df1['alcohol'].astype(float)
df1['quality'] = df1['quality'].astype(float)

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   float64
dtypes: float64(12)
memory usage: 150.0 KB

In [12]:
df1.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

# Hypothesis 
* Null Hypothesis :  Wines with a higher quality rating have a higher median alcohol content than wines with a lower quality rating
* Alternative Hypothesis : Wines with a higher quality rating do not have a higher median alcohol content than wines with a lower quality rating

In [56]:
quality_medians = df1.groupby('quality')['alcohol'].median()
print(quality_medians)

quality
3.0     9.925
4.0    10.000
5.0     9.700
6.0    10.500
7.0    11.500
8.0    12.150
Name: alcohol, dtype: float64

In [59]:
from scipy.stats import mannwhitneyu

high_quality = df1[df1['quality'] >= 7]['alcohol']
low_quality = df1[df1['quality'] < 7]['alcohol']

stat, p = mannwhitneyu(high_quality, low_quality, alternative='greater')
alpha = 0.05
print('Mann-Whitney U test')
print(f'p-value: {p:.4f}')
if p < alpha:
    print('Reject null hypothesis')
else:
    print('Fail to reject null hypothesis ')

Mann-Whitney U test
p-value: 0.0000
Reject null hypothesis